{% extends "base.html" %}

{% block content %}
<div class="shadow container-fluid  p-3 px-4 text-white tw-font-semibold tw-text-2xl " style="background-color: #051934;">
    <h1>DSA - ATTENDANCE</h1>
</div>
<div class="container mt-5 text-center">
    <h1 class="tw-text-black tw-text-2xl">Thank you for being here today.</h1>
    <div class="mt-4">
        <!-- Link to Home -->
        <a href="{% url 'challenge_list' %}" class="btn btn-secondary me-2">Go to Home</a>
        <!-- Link to Challenge View -->
        <a href="{% url 'challenge_list' %}" class="btn btn-primary">View Challenges</a>
    </div>
</div>
{% endblock %}
