{% extends "base.html" %}

{% block content %}
<div class="shadow tw-px-10 tw-py-3 text-white tw-font-semibold tw-text-2xl " style="background-color: #051934;">
    <h1>ATTENDANCE LIST FOR TODAY</h1>
</div>
<div class="container mt-5">
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Code Used</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for record in attendance_records %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ record.user.username }}</td>
                    <td>{{ record.code_used }}</td>
                    <td>{{ record.date }}</td>
                    <td>{{ record.time }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No attendance records found for today.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
