{% load static %}
{% load django_template_maths %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/stars.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="icon" type="image/ico" href="{% static 'img/favicon.ico' %}" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link  href="{% static 'css/bootstrap-icons.min.css' %}" rel="stylesheet"/>
    
    <!-- Bootstrap Font Icon CSS -->
    <link  href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet"/>



    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <title>DSA Website</title>
</head>
<style>
    a.navbar-brand:hover {
        text-decoration: underline; 
    }
    a.hover:hover {
        text-decoration: underline; 
    }
</style>
<script>

</script>
<body class="bg-light">
    <nav class="shadow navbar fixed-top navbar-expand navbar-dark px-3 py-0" style="background-color: #01686f;">
        <div class="flex-grow-1 d-flex align-items-center">
            <a class="navbar-brand" href="{% url 'post_list' %}"> ⟵ Hello DSA</a>
            {% if user.is_authenticated %}
            <a class="navbar-brand" href="{% url 'challenge_list' %}" style="font-size: 1rem;">| CHALLENGES |</a>
            <a class="navbar-brand" href="{% url 'attendance:validate_attendance' %}" style="font-size: 1rem;"> | ATTENDANCE |</a>
            {% endif %}
            {% if user.is_superuser %}
                <a class="navbar-brand" href="{% url 'attendance:display_code' %}" style="font-size: 1rem;">| A.CODE |</a>
                <a class="navbar-brand" href="{% url 'attendance:attendance_list' %}" style="font-size: 1rem;">| A.RECORDS |</a>
                <a class="navbar-brand" href="{% url 'create_post' %}" style="font-size: 1rem;">| CREATE POST |</a>
            {% endif %}

        </div>
        <ul class="navbar-nav">
            {% comment %} <li class="nav-item">
                <a class="nav-link"></a>
            </li> {% endcomment %}
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a id="user-category" class="nav-link disabled text-white " href="#">Your category : <span class="ms-1 fw-bold">{{ user.category }}</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled text-white" href="#">|</a>
                </li>
                <!-- Bloc dynamique pour Your rank et Your score -->
                {% block rank_and_score %}
                {% endblock rank_and_score %}            
                
                <li class="nav-item">
                    <a class="nav-link hover text-white" href="{% url 'profile' %}">{{ user.username | capfirst }}<i class="bi-person-fill-gear ms-1"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled text-white" href="#">|</a>
                </li>
    
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">|</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Sign-in</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    

    <div class="pb-3" style="background-color: #051934;">Feel free and by happy - Tomixbo</div>
    <img src="{% static 'img/banner.jpg' %}" class=".bg-image" style="width:100%;" alt="DSA_image" >

    {% block content %}
        

    {% endblock content %}


</body>
</html>
