{% extends "base.html" %}
{% load static %}
{% load django_template_maths %}
{% block content %}

    <div class="shadow tw-px-10 tw-py-3 text-white tw-font-semibold tw-text-2xl " style="background-color: #051934;">
        <h1>RANKING</h1>
    </div>
    
    {% if messages %}
        {% for message in messages %}
            <br/>
            <div class="tw-px-10">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
             </div>
            
        {% endfor %}
    {% endif %}
    <div class="card my-3 tw-mx-20 p-3">
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Score</th>
                <th>Username</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Category</th>
              </tr>
            </thead>
            <tbody>
                {% for suser in users %}
                    <tr class="{% if suser == user %}table-success{% endif %}">
                        <td>{{ suser.rank }}{% if suser.rank == 1%}<i class="bi-trophy-fill ms-2 text-warning">
                            {% elif suser.rank == 2%}<i class="bi-trophy ms-2 text-secondary">
                            {% elif suser.rank == 3%}<i class="bi-trophy ms-2" style="color: #b06311;">{%endif%}</td>
                        <td>{{ suser.score }}</td>
                        <td>{{ suser.username }}</td>
                        <td>{{ suser.first_name }}</td>
                        <td>{{ suser.last_name }}</td>
                        <td>{{ suser.category }}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        
    </div>
    

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>

    </script>
{% endblock content %}
