{% extends "base.html" %}
{% load static %}
{% block content %}



    <div class="shadow  container-fluid  p-3 px-4 text-white" style="background-color: #051934;">
        <h2>Reset your password</h2>
    </div>
    <div class="container">
        <br/>
        {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        
                    {% endfor %}
                {% endif %}
        <div class="shadow p-4 mb-5 bg-light rounded">
                
                
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-outline-success" type="submit">Submit</button>
            </form>
        </div>
    </div>

{% endblock content %}
