{% extends "base.html" %}
{% load static %}
{% load django_template_maths %}

{% block content %}
<div class="shadow tw-px-10 tw-py-3 text-white tw-font-semibold tw-text-2xl " style="background-color: #051934;">
    <h1>LIST OF CONTESTS</h1>
</div>

    {% if messages %}
        {% for message in messages %}
            <br/>
            <div class="container-fluid px-3">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
             </div>
        {% endfor %}
    {% endif %}

    <div class="card my-3 p-3 tw-mx-20">
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Contest Name</th>
                <th class="text-center">Start Date</th>
                <th class="text-center">End Date</th>
                <th class="col-2 text-center">Status</th>
              </tr>
            </thead>
            <tbody>
                {% for contest in contests %}
                    <tr>
                        <td><a href="{% url 'contest_inscription' contest.id %}" class="list-group-item level-link">{{ contest.name }}</a></td>
                        <td class="text-center">{{ contest.start_date|date:"d M Y H:i" }}</td>
                        <td class="text-center">{{ contest.end_date|date:"d M Y H:i" }}</td>
                        <td class="text-center">
                            {% if contest.is_active %}
                                <span class="badge bg-success">Ongoing</span>
                            {% else %}
                                {% if contest.is_finished %}
                                    <span class="badge bg-danger">Finished</span>
                                {% else %}
                                    <span class="badge bg-secondary">Not started</span>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>

{% endblock content %}
